@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* For Firefox */
* {
  scrollbar-width: none;
}